# Files to ignore when considering what GIT should commit.

# Visual Studio
source-shader-editor
*.suo
*.user
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
vc100.pdb
vc120.pdb
vc140.pdb
vc141.pdb
vc142.pdb
*.opensdf
*.idb

# VS2015 stuff
*.db
*.opendb
.vs/

# logs
logs/*
console.log

# demo records
*.dem

# user stuff
cfg/pet.txt
download/*
downloadlists/*
SAVE/*
screenshots/*
demoheader.tmp
stats.txt
gamestate.txt
voice_ban.dt
textwindow_temp.html
demos/*
materials\vgui\logos\ui\*
config.cfg
hammer.vdf
GameConfig.txt
video.txt
videodefaults.txt
serverbrowser.vdf
ingamedialogconfig.vdf
modelsounds.cache
serverconfig.vdf
server_blacklist.txt
settings.scr

# content source
materialsrc/*
soundsrc/*
mapsrc/*.log

# source plugins
addons/*

# shader files
*.tmp

# map compile products
*.prt
*.vmx

# VS/VPC stuff
ipch
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.vpc_crc
*.vpc.sentinel
*.*sdf
*.mak
*.mak.vpc_crc
*.xcodeproj
.DS_Store
*.project
*.vsp
*.VC
*.VC.VC.opendb
*.VC.db
*.mdmp

# diff stuff
*.bak

# Ignore tier1 since its compiled in VPC projs
src/lib/public/shaderlib.lib
src/lib/public/vgui_controls.lib

# gamecontent folders
game/hl2
game/episodic
game/ep2
game/portal

# Compiled stuff
src/game/client/Release*
src/game/client/Debug*
src/game/server/Debug*
src/game/server/Release*
src/.vs/Game_Deferred-2013/v15/Browse.VC.opendb
src/materialsystem/deferredshaders/Release_dx9_deferred/game_shader_generic_deferred.lib
src/materialsystem/deferredshaders/Release_dx9_deferred/game_shader_generic_deferred.dll
src/materialsystem/deferredshaders/Debug_dx9_deferred/game_shader_generic_deferred.lib
src/.vs/Game_Deferred-2013/v15/Solution.VC.db-wal
src/.vs/Game_Deferred-2013/v15/Solution.VC.db-shm